/* Common style */
*{
    margin: 0px;
    padding: 0px;
    font-family: Work Sans;
}


/* Header Style */


/* Section One Style */


/* Section Two Style */


/* Section Three Style */


/* Footer Style */